.map {
    border-radius: 6px 6px 0px 0px;
    height: 35em;
    width: 36em;
}
.map_holder{
    padding-right: 15px;
    padding-bottom: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.foto {
    position: fixed;
    top: 0;
    left: 0;
    height: 40em;
    width: 55em
}