.map {
    border-radius: 6px 6px 0px 0px;
    height: 35em;
    width: 36em;
}
.map_after_edit {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    
}
.map_holder{
    padding-right: 15px;
    padding-bottom: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.map_holder_after_edit{
    height: 100% !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}


.foto {
    position: fixed;
    top: 0;
    left: 0;

}